# General paths
cache_dir = "<your_abs_path_to>/cache/"
data_dir = "<your_abs_path_to>/data/"
plot_save_dir = "<your_abs_path_to>/plots/"

# Hydra configuration path
CFG_DIR = "<your_abs_path_to>/mcmlnet/mcmlnet/training/configs/"

# MCML path (only required when simulating new spectra using MCML)
MCML_PATH = "/usr/bin/MCML"

# experiment config
export SURROGATE_MODEL = True
export SURROGATE_ABLATION = False
